body {
  background-color: #d9d9d9;
}

.app {
  display: grid;
}

.cabecalho {
  display: grid;
}

.navbar {
  display: flex;
  background-color: #018dba;
  justify-content: space-around;
  color: whitesmoke;
}

.navbar h2:hover {
  color: orange;
}

.title {
  text-align: center;
  background-color: #2dc8f9;
}

footer {
  text-align: center;
  background-color: black;
  color: white;
  margin: 10px;
}

.content {
  display: grid;
  margin: 10px;
  padding: 5px;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}

.item {
  width: 20vw;
  height: auto;
  display: grid;
  text-align: center;
}

.desc {
  padding: 5px;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.buy {
  display: grid;
  padding: 10px;
}

.buy button {
  background-color: #018dba;
  border: none;
  border-radius: 10px;
  color: white;
  height: 40px;
  font-size: 16px;
  margin: 5px;
  opacity: 0.9;
}

.buy button:hover {
  opacity: 1;
}

.buy span {
  font-size: 20px;
  color: #018dba;
}

.item img {
  border-radius: 10px;
}
